.blogs_home {
    max-width: 100% !important;
    margin-left: 50px !important;
    margin-right: 50px !important;
}

.search_button {
    width: 10% !important;
    padding: 7px;
}

.blog_search_heading {
    font-size: 20px;
    font-family: 'Jost', sans-serif;
    color: black;
}

.blog_search_headtext {
    font-size: 17px;
    color: #6b6b6b;
    font-family: 'Outfit', sans-serif;
}

.nav-item1 {
    font-size: 16px;
    color: #6b6b6b;
    font-family: 'Outfit', sans-serif;
}

.side_nav {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.3px;
    padding-bottom: 8px;
    text-decoration: none;
    cursor: pointer;
    color: #000000;
}


.location_contact{
    width: 435px;
    height: 217px;
}

.blog_date{
    font-size: 17px;
    font-family: 'Outfit', sans-serif;
    color: #6b6b6b;
}

.blog_title{
    font-size: 30px;
    font-family: 'Jost', sans-serif;
    color: black;
    margin-top: 8px;
    margin-bottom: 8px;
}


.blog_headtext{
    font-size: 17px;
    font-family: 'Outfit', sans-serif;
    color: #6b6b6b;
}

.blog_readmore {
    padding-top: 17px;
    background: #005e8c;
    margin-top: 15px;
    margin-left: 0px;
    padding-left: 35px;
    padding-right: 35px;
}