.careers_heading{
  margin-top: 7%;
  margin-bottom: 7%;
}
.careers_head{
  font-size: 42px;
  color: #2b3863;
  font-family: 'Jost' sans-serif;
  text-align: center;
  font-weight: 500;
  margin: 0px;
}

.careers_headtext{
  font-size: 20px;
  color: #2b3863;
  font-family: 'Jost' sans-serif;
  text-align: center;
}
.CareerCards {
  padding-top: 2%;
  text-align: center;
  background-color: white;
}

.CareerHead1 {
  color: #8A043B;
  font-family: 'Outfit', Sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  line-height: 15px;
  letter-spacing: 1.76px;
  padding-bottom: 10px;
}

.CareerHead2 {
  color: #060815;
  font-family: 'Jost', sans-serif;
  margin-top: 25px;
  font-weight: 600;
  text-transform: capitalize;
  font-size: 42px;
  line-height: 48px;
  letter-spacing: -0.04px;
  line-height: 48px;
}

.job-card-container {
  padding-top: 7%;
  padding-bottom: 7%;
  background-color: #F1F6FF;
}

.CareerCardRow {
  text-align: center;
  padding-bottom: 20px;
}


.CareerCardRow::after {
  content: '';
  display: table;
  clear: both;
}

.careerJobCard {
  display: inline-block;
  vertical-align: top;
  width: 283px;
  margin: 50px;
  background-color: white;
  border: 1px solid #dddfe3;
  box-shadow: 0px 1px 4px 0px rgb(0 0 0 / 5%);
  text-align: center;
  padding: 20px;
  height: 300px;
}

.JobTitle {
  font-family: 'Jost', sans-serif;
  font-weight: 500;
  margin-top: 0px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  text-transform: none;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.025px;
  color: #060815;
}

.job_text {
  font-family: 'Outfit', sans-serif;
  font-weight: normal;
  text-transform: none;
  font-size: 16px;
  padding-bottom: 10px;
  padding-top: 10px;
  line-height: 22px;
  letter-spacing: 0.01px;
  margin-bottom: 10px;
  color: #6B6B6B;
}

.job_link {
  text-decoration: none;
  font-size: 16px;
  color: black;
  display: block;
  padding-top: 10px;
}
.job-image{
  height: 150px;
  width: 150px;
}