.case_study_heading{
    margin-top: 7%;
    margin-bottom: 7%;
    background-color: #ffffff;
}
.casestudy_head{
    font-size: 42px;
    color: #2b3863;
    font-family: 'Jost' sans-serif;
    text-align: center;
    font-weight: 500;
    margin: 0px;
}

.casestudy_headtext{
    font-size: 20px;
    color: #2b3863;
    font-family: 'Jost' sans-serif;
    text-align: center;
}

.filterDiv {
    color: #6B6B6B;
    display: none;
  }
  
  .show {
    display: block;
  }
  
  .container {
    margin-top: 20px;
    overflow: hidden;
  }
  
  /* Style the buttons */
  .btn {
    border: none;
    background-color: #E8EFF4;
    width: auto;
    outline: none;
    font-family: 'Outfit',sans-serif;
    color: black;
    font-size: 17px;
    padding: 12px 16px;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 12px 16px;
    cursor: pointer;
    text-align: center;
    margin: 2px;
    border-radius: 0px !important;
  }

  .btn.active {
    border-bottom: 3px solid #354666 !important;
  }
  .case_study_content{
    background-color: #E8EFF4;
    max-width: 100% !important;
    text-align: center;
  }


  .case_study_img {
    width: 510px;
    height: 290px;
  }
  
  .case_study_sliderhead {
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    text-transform: capitalize;
    font-size: 24px;
    line-height: 31px;
    letter-spacing: -0.01px;
    color: #060815;
    padding-left: 10px;
    text-align: left;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
  
  .case_study_ul {
    display: flex;
  }
  
  .case_study_li {
    padding-right: 20px;
    gap: 10px;
    padding-bottom: 0px !important;
  }
  .case_study_para {
    font-family: 'Outfit', sans-serif;
    font-weight: normal;
    font-size: 17px;
    line-height: 29px;
    letter-spacing: 0.01px;
    color: #6B6B6B;
    text-align: left;
    padding-left: 15px;
    margin-top: -23px;
    padding-right: 14px;
  }
  .case_study_col2{
    padding-right: 13% !important;
    text-align: start;
  }
  .case_study_col1{
    text-align: -webkit-right;
  }
  .case_study_filter{
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .slick-next {
    right: 40px;
    color: #6B6B6B !important;
}
.slick-prev {
  left: 80px;
}
.slick-prev:before, .slick-next:before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: #6B6B6B;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}